extends layout

block content
  .w3-row
    .w3-col.m4.l3
      .w3-container.w3-border-bottom
        img.w3-round(src="/images/jcr-quadro.jpg" style="width:100%;")
        h4.w3-padding-0
          b José Carlos L. Ramalho
        p.w3-text-grey Prof. Auxiliar
        p.w3-text-grey Department of Informatics // Algoritmi Research Center
        p.w3-text-grey University of Minho
        p.w3-text-grey Campus de Gualtar 4700-057 Braga - Portugal
        p.w3-text-grey Phone: +351 253 604479 | FAX: +351 253 604471 | Ext.: 604479
        p.w3-text-grey Orcid: 0000-0002-8574-1574
        p.w3-text-grey jcr @ di.uminho.pt | 
          a(href="http://www.di.uminho.pt/~jcr/") http://www.di.uminho.pt/~jcr/

      .w3-container
        a.w3-hover-white.w3-hover-text-indigo.w3-show-inline-block(href="#")
          i.fa.fa-facebook-official
        a.w3-hover-white.w3-hover-text-blue.w3-show-inline-block(href="#")
          i.fa.fa-linkedin

    // ------------------- PAGE CONTENT --------------------------------
    .w3-col.m8.l9
      // Navbar
      .w3-container.w3-bar.w3-border.w3-deep-purple
        a.w3-bar-item.w3-button.w3-margin.w3-round.w3-hover-light-grey(href="#") Home
        a.w3-bar-item.w3-button.w3-margin.w3-round.w3-hover-light-grey(href="/projs") Projects
        a.w3-bar-item.w3-button.w3-margin.w3-round.w3-hover-light-grey(href="/pubs") Publications
        a.w3-bar-item.w3-button.w3-margin.w3-round.w3-hover-light-grey(href="/thesup") Supervisions
        a.w3-button.w3-bar-item.w3-margin.w3-round.w3-hover-light-grey(href="/courses") Courses
        a.w3-bar-item.w3-button.w3-margin.w3-round.w3-hover-light-grey(href="/theexa") Juris
  
      // Header
      header.w3-container
        h1
           b Short biography
      .w3-container 
        p José Carlos Ramalho graduated in 1991 as a Systems and Informatics Engineer. During his graduation he has worked as a freelancer software developer and as a network technician for Apple. During this time he also taught several courses about computer programming for several public institutions.
        p In 1991 he joined the Department of Informatics as an Assistent and started his MSc work. He has worked as a teacher since 1991 until the present. He also has been a researcher of Algoritmi's Research since then.
        p He finishes his Phd in 2000 under the subject "Structured Documents Semantics". From 1996 until the present he has been researching in Structured Documents area (currently he is coordinating several projects in Digital Archives and Libraries field). He was responsible for the creation of the conference series called XATA (starting in 2003 until now). He wrote three books and many articles presented in internacional and nacional conferences.
        p During 2008, together with two former post-graduation students he launches KEEP Solutions, a spin-off software company focusing Information Archiving, Information Management, Information Access and Information Deployment.
        p In the last years, his focus was in Digital Preservation and Web Semantic where he was involved in projects like: RODA, SCAPE and E-ARK.

  .w3-row
    footer.w3-container.w3-deep-purple
      address Gerado por myCV :: jcr :: #{d}
    