//- pinfo.pug
//- 2024-10-31 by jcr
.w3-col.m4.l3
    .w3-container.w3-border-bottom
        img.w3-round(src="/images/jcr-quadro.jpg" style="width:100%;")
        h4.w3-padding-0
          b José Carlos L. Ramalho
        p.w3-text-grey Prof. Auxiliar
        p.w3-text-grey Department of Informatics // Algoritmi Research Center
        p.w3-text-grey University of Minho
        p.w3-text-grey Campus de Gualtar 4700-057 Braga - Portugal
        p.w3-text-grey Phone: +351 253 604479 | FAX: +351 253 604471 | Ext.: 604479
        p.w3-text-grey Orcid: 0000-0002-8574-1574
        p.w3-text-grey Ciência ID: 1D19-C69A-1737
        p.w3-text-grey jcr @ di.uminho.pt | 
          a(href="http://www.di.uminho.pt/~jcr/") http://www.di.uminho.pt/~jcr/

    .w3-container
        a.w3-hover-white.w3-hover-text-indigo.w3-show-inline-block(href="#")
          i.fa.fa-facebook-official
        a.w3-hover-white.w3-hover-text-blue.w3-show-inline-block(href="#")
          i.fa.fa-linkedin